@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Noto+Sans+JP:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", "Noto Sans JP", sans-serif;
}

img,
video,
audio {
    /* Prevent overflow */
    max-width: 100%;
    max-height: 100%;
    /* Prevent gap underneath */
    vertical-align: middle;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.06'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.plyr {
    border-radius: 1rem;
    --plyr-color-main: rgb(239, 68, 68);
    --plyr-control-radius: 6px;
    --plyr-captions-background: rgba(0, 0, 0, 0.5);
    --plyr-font-size-base: 1rem;
    --plyr-font-size-small: 0.75rem;
    --plyr-font-size-large: 1.375rem;
    --plyr-font-size-xlarge: 2.5rem;
    --plyr-line-height: 1.2;
}

.plyr__caption {
    border-radius: 0.5rem !important;
}

.plyr__captions {
    margin-bottom: 6px !important;
}

h1 {
    @apply text-3xl font-bold mb-4
}

h2 {
    @apply text-2xl font-bold mb-2 mt-6
}

.chromatic {
    color: #fe58a2;
    text-shadow: -2px 0 0 #8ffbff, 2px 0 0 #ffea01;
}

.chromatic {
    @apply uppercase
}

.link {
    @apply hover:underline text-red-500 hover:cursor-pointer
}

.body-paragraph {
    @apply italic font-light text-lg tracking-wide mb-2
}
